/* TODO: remove?
html, body {
    width: 350px;
}
*/
a {
    margin: 10px;
    display: inline-block;
}

.panel {
    margin: 5px;
}


.clickable {
    cursor: pointer;
}


/* Automation */

#automations, .actions {
    list-style: none;
    padding: 2px;
}


.nameAutomation.viewMode {
    font-size: 1.5em;
    font-weight: bold;
}

.actions .action:nth-child(2n+1) {
    background: lightgrey;
}

.actions .action:nth-child(2n) {
    background: grey;
}

.actions .action {
    padding: 5px;
}

.actionType.viewMode {
    font-weight: bold;
}

.parameterValue.viewMode {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    font-style: italic;
}
