
/* Automation */

ul#automations, ul.actions {
    list-style: none;
    padding: 2px;
}

.nameAutomation.viewMode {
    font-size: 1.5em;
    font-weight: bold;
}


/* Action */

.action {
    padding: 5px;
    border: thin grey solid;
    background: lightgrey;
    overflow: hidden;

    display: grid;
    grid-template-columns: 0fr 1fr;
}

.action .controls {
    grid-column: 1;
    grid-row: 1;
}

.action .content {
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.action .content .actionType {
    grid-column: 1;
}

.action .content .parameters {
    grid-column: 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.action .content . parameters .parameter {
    grid-column: 1;
}

.actionType.viewMode {
    font-weight: bold;
}

.parameterValue.viewMode {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    font-style: italic;
}

.actionType.editMode,.parameters,.parameter,
.parameter input.editMode[type!="checkbox"] {
    width: 100%;
}


/* sortable */

.automation.automation-empty {
    height: 50px;
    background: #ececec;
}

.actions .action.action-empty {
    height: 50px;
    background: #ececec;
}
